In [1]:
import pandas as pd
import numpy as np

In [66]:
#Reading excel sheet 
mean_age_marriages = pd.read_excel("SF_3_1_Marriage_divorce_rates.xlsx", sheet_name= 'MeanAgeFirstMarriage', header = 3, indexcol=0, skipfooter = 25)

In [67]:
mean_age_marriages.head()

,Country,Gender,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Male,26.5,26.7,26.9,27,27.2,27.3,27.6,27.8,...,29.6,29.6,29.6,29.6,29.7,29.8,29.9,30,30.1,30.3
1,NaN,Female,24.3,24.5,24.7,24.8,25.1,25.3,25.7,25.9,...,27.6,27.7,27.7,27.9,28,28.1,28.3,28.4,28.5,28.7
2,Austria,Male,27.7,27.9,28,28.4,28.7,29,29.1,29.3,...,32,32.2,32.5,32.7,32.9,33.2,..,..,..,..
3,NaN,Female,25.2,25.4,25.6,25.8,26.1,26.3,26.5,26.8,...,29.3,29.5,29.9,33.5,30.3,30.6,..,..,..,..
4,Belgium,Male,26.5,26.7,27,27.2,27.4,27.8,28,28.1,...,31,31.4,31.7,31.7,..,..,..,..,..,..

In [68]:
#forward filling Country column in order to remove NaN 
mean_age_marriages["Country"] = mean_age_marriages["Country"].ffill()

In [69]:
mean_age_marriages.head()

,Country,Gender,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Male,26.5,26.7,26.9,27,27.2,27.3,27.6,27.8,...,29.6,29.6,29.6,29.6,29.7,29.8,29.9,30,30.1,30.3
1,Australia,Female,24.3,24.5,24.7,24.8,25.1,25.3,25.7,25.9,...,27.6,27.7,27.7,27.9,28,28.1,28.3,28.4,28.5,28.7
2,Austria,Male,27.7,27.9,28,28.4,28.7,29,29.1,29.3,...,32,32.2,32.5,32.7,32.9,33.2,..,..,..,..
3,Austria,Female,25.2,25.4,25.6,25.8,26.1,26.3,26.5,26.8,...,29.3,29.5,29.9,33.5,30.3,30.6,..,..,..,..
4,Belgium,Male,26.5,26.7,27,27.2,27.4,27.8,28,28.1,...,31,31.4,31.7,31.7,..,..,..,..,..,..

In [49]:
#Reading in divorce sheet
divorce = pd.read_excel("SF_3_1_Marriage_divorce_rates.xlsx", sheet_name= 'DivorceRate', header = 3, skipfooter = 17)

In [57]:
#dropping Note column as it has no valuable info
divorce = divorce.drop(columns = ["Note"])
divorce.head()

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,..,..,..,..,..,..,..,..,..,...,2.3,2.2,2.3,2.3,2.2,2.2,2.1,2,2,1.9316
1,Austria,1.1,1.1,1.1,1.1,1.2,1.2,1.2,1.2,1.3,...,2.5,2.4,2.3,2.1,2.1,2,1.9,1.9,1.9,1.8
2,Belgium,0.5,0.5,0.5,0.6,0.6,0.6,0.6,0.6,0.6,...,2.8,3.3,3,2.7,2.5,2.3,2.2,2.2,2.2,2.1
3,Canada,..,..,..,..,..,..,..,..,..,...,2.22,2.11,..,..,..,..,..,..,..,..
4,Chile,..,..,..,..,..,..,..,..,..,...,0.145559,0.120083,0.122158,0.0911416,..,..,..,..,..,..

In [63]:
previous_marriages = pd.read_excel("SF_3_1_Marriage_divorce_rates.xlsx", sheet_name= 'PrevMaritalStatus', header = 3, skipfooter = 12)

In [64]:
previous_marriages = previous_marriages.drop(columns = ["Note"])

In [65]:
previous_marriages["Country"] = previous_marriages["Country"].ffill()
previous_marriages

,Country,Unnamed: 2,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Single never married,..,..,..,..,..,..,..,..,...,77.6796,78.1699,78.9503,79.5507,79.7239,79.9968,80.4857,80.4739,80.099,80.2527
1,Australia,Divorced,..,..,..,..,..,..,..,..,...,20.5872,20.1577,19.48,18.9564,18.7854,18.5893,18.1878,18.1424,18.5149,18.3364
2,Australia,Widowed,..,..,..,..,..,..,..,..,...,1.73312,1.67234,1.56971,1.4991,1.48701,1.41184,1.33113,1.3837,1.39003,1.41595
3,Austria,Single never married,85.4174,86.0936,86.9098,86.869,86.4513,86.3398,86.468,86.2857,...,..,74.758,75.5575,75.4841,75.6904,76.6934,77.0822,77.4961,77.6886,78.1499
4,Austria,Divorced,10.2815,10.0582,9.57709,9.53351,10.0351,10.352,10.2972,10.5641,...,..,24.2455,23.5163,23.5118,23.405,22.3453,21.9826,21.5134,21.4766,20.9011
5,Austria,Widowed,4.30112,3.84827,3.51311,3.59753,3.51364,3.30819,3.23474,3.15024,...,..,0.996508,0.926161,1.00413,0.904574,0.961339,0.935252,0.990443,0.834794,0.948986
6,Belgium,Single never married,90.7712,90.8419,90.6581,90.8181,90.7604,90.8003,91.0061,91.2127,...,72.4625,73.4657,73.8504,73.4804,..,..,..,..,..,..
7,Belgium,Divorced,4.83824,4.87406,5.07763,5.11057,5.32627,5.38514,5.2166,5.31116,...,26.1633,25.3457,24.8567,25.3446,..,..,..,..,..,..
8,Belgium,Widowed,4.39052,4.28404,4.26425,4.07132,3.91336,3.81453,3.77726,3.47612,...,1.37423,1.18861,1.29297,1.17506,..,..,..,..,..,..
9,Canada,Single never married,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
10,Canada,Divorced,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
11,Canada,Widowed,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
12,Chile,Single never married,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
13,Chile,Divorced,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
14,Chile,Widowed,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
15,Czech Republic,Single never married,..,..,..,..,..,..,..,..,...,..,72.588,73.1979,73.9614,74.0125,75.2013,75.6017,76.6275,76.6793,76.4113
16,Czech Republic,Divorced,..,..,..,..,..,..,..,..,...,..,26.1014,25.5474,24.8695,24.8853,23.7557,23.3844,22.3971,22.3206,22.6166
17,Czech Republic,Widowed,..,..,..,..,..,..,..,..,...,..,1.3106,1.25465,1.16908,1.1022,1.043,1.01382,0.975315,1.00019,0.972069
18,Denmark,Single never married,85.6938,86.5031,87.0152,87.7255,88.0083,88.8135,88.9822,89.2949,...,..,76.2926,76.5976,77.205,76.015,75.0335,76.1888,76.0516,76.8647,76.4161
19,Denmark,Divorced,11.7238,11.0673,10.7536,10.2151,9.92544,9.36368,9.24102,9.02619,...,..,21.7814,21.6418,21.0179,22.1177,23.0267,22.018,22.3257,21.4489,21.9261
20,Denmark,Widowed,2.58239,2.4296,2.23123,2.05936,2.06622,1.82285,1.77675,1.6789,...,..,1.92592,1.7606,1.77703,1.86726,1.93985,1.79325,1.62272,1.68636,1.65778
21,Estonia,Single never married,..,..,..,..,..,..,..,..,...,70.7206,71.9171,72.2492,73.8354,72.986,73.8684,73.328,73.7321,74.2685,74.5782
22,Estonia,Divorced,..,..,..,..,..,..,..,..,...,27.8268,25.912,25.6621,24.4769,25.2682,24.5011,24.8779,24.4398,24.241,24.0898
23,Estonia,Widowed,..,..,..,..,..,..,..,..,...,1.45258,2.1709,2.08877,1.68772,1.74577,1.63057,1.79412,1.82814,1.49055,1.33204
24,Finland,Single never married,90.5288,90.6648,90.7739,90.8487,90.7767,91.2261,91.3725,91.9531,...,..,77.0031,76.7141,77.296,76.2669,75.9347,76.4523,76.5945,75.3158,74.9099
25,Finland,Divorced,6.10915,6.23627,6.22473,6.22073,6.2866,5.99822,6.05173,5.6943,...,..,21.7002,21.9883,21.4261,22.3956,22.6749,22.2522,22.1261,23.4212,23.7617
26,Finland,Widowed,3.36203,3.09897,3.00134,2.9306,2.93667,2.77569,2.5758,2.35258,...,..,1.29671,1.29766,1.27785,1.33751,1.39039,1.29549,1.27941,1.26302,1.32841
27,France,Single never married,..,..,..,..,..,..,..,..,...,..,79.9035,80.0067,80.117,80.0042,..,80.4199,80.5757,80.5435,..
28,France,Divorced,..,..,..,..,..,..,..,..,...,..,18.6924,18.5989,18.5314,18.6501,..,18.359,18.2326,18.2883,..
29,France,Widowed,..,..,..,..,..,..,..,..,...,..,1.40409,1.39437,1.35154,1.34571,..,1.2211,1.19167,1.1682,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,Sweden,Single never married,88.1334,88.4154,88.8923,89.3829,89.9964,90.3649,90.5681,90.6481,...,..,78.3507,78.5486,78.8964,79.2623,78.6549,77.3587,77.6119,77.9537,78.0441
94,Sweden,Divorced,9.74995,9.50352,9.17682,8.82199,8.35658,8.15836,8.07024,8.0011,...,..,20.6272,20.4537,20.0852,19.795,20.3121,21.6221,21.376,21.036,20.932
95,Sweden,Widowed,2.11669,2.08107,1.93089,1.79506,1.64702,1.47674,1.36168,1.35075,...,..,1.02209,0.997716,1.01836,0.942777,1.033,1.0192,1.01201,1.01026,1.02393
96,Switzerland,Single never married,89.2745,89.6183,89.6892,89.8444,89.8737,89.6977,90.2069,90.118,...,77.2279,77.3246,77.7721,78.0614,78.0374,79.0453,79.1388,79.6997,79.686,80.273
97,Switzerland,Divorced,7.50229,7.25679,7.21663,7.07459,7.21271,7.33552,6.99069,7.03903,...,21.6501,21.6172,21.1532,20.985,21.0299,19.9852,19.8987,19.4015,19.3667,18.7773
98,Switzerland,Widowed,3.22317,3.12493,3.09413,3.08105,2.91361,2.96682,2.80238,2.84301,...,1.12199,1.05817,1.07472,0.953603,0.932681,0.969428,0.962457,0.898761,0.947221,0.949671
99,Turkey,Single never married,..,..,..,..,..,..,..,..,...,..,89.9013,88.8698,88.3633,87.7545,87.1035,87.2251,87.0022,86.7351,86.1166
100,Turkey,Divorced,..,..,..,..,..,..,..,..,...,..,8.83259,9.85412,10.3259,10.9995,11.6769,11.6043,11.8688,12.1593,12.7354
101,Turkey,Widowed,..,..,..,..,..,..,..,..,...,..,1.26612,1.27603,1.31087,1.24602,1.21956,1.17061,1.12899,1.10556,1.14802
102,United Kingdom,Single never married,90.1236,90.163,89.9839,89.7362,89.4532,89.5409,89.2374,88.8709,...,72.5245,73.2806,..,..,..,75.6249,76.3804,..,77.8304,..
103,United Kingdom,Divorced,4.91161,4.93615,5.15022,5.51657,5.79465,6.05077,6.32809,6.6477,...,25.3317,24.7013,..,..,..,22.5211,21.8111,..,21.9293,..
104,United Kingdom,Widowed,4.96484,4.90089,4.86592,4.74726,4.75214,4.40832,4.43451,4.48141,...,2.14387,2.0181,..,..,..,1.85402,1.8085,..,0.240338,..
105,United States,Single never married,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
106,United States,Divorced,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
107,United States,Widowed,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
108,Bulgaria,Single never married,..,..,..,..,..,..,..,..,...,..,88.5873,88.7896,88.028,88.1453,88.1414,88.0697,88.206,88.7083,88.7187
109,Bulgaria,Divorced,..,..,..,..,..,..,..,..,...,..,10.5756,10.4026,11.1401,11.0472,11.1209,11.1722,11.0168,10.568,10.6145
110,Bulgaria,Widowed,..,..,..,..,..,..,..,..,...,..,0.837116,0.807833,0.831909,0.807531,0.737744,0.758096,0.777245,0.723689,0.666817
111,Croatia,Single never married,..,..,..,..,..,..,..,..,...,..,91.3747,91.6339,91.399,91.2325,90.774,89.8586,89.0621,88.4516,88.2836
112,Croatia,Divorced,..,..,..,..,..,..,..,..,...,..,7.48085,7.36753,7.59604,7.84226,8.22221,8.9963,9.81232,10.4165,10.6586
113,Croatia,Widowed,..,..,..,..,..,..,..,..,...,..,1.14448,0.99857,1.00498,0.925239,1.00379,1.14508,1.12558,1.13189,1.0578
114,Cyprus,Single never married,..,..,..,..,..,..,..,..,...,..,..,84.4911,..,..,86.9402,87.8593,88.1711,..,87.9564
115,Cyprus,Divorced,..,..,..,..,..,..,..,..,...,..,..,14.4396,..,..,12.4388,11.4522,10.9846,..,11.2163
116,Cyprus,Widowed,..,..,..,..,..,..,..,..,...,..,..,1.06931,..,..,0.621064,0.688436,0.844242,..,0.827301
117,Malta,Single never married,..,..,..,..,..,..,..,..,...,..,92.8082,92.5414,94.1834,91.9204,..,87.2576,88.5232,88.5743,..
118,Malta,Divorced,..,..,..,..,..,..,..,..,...,..,6.7083,6.37484,4.75732,7.08431,..,11.7145,10.5016,10.4097,..
119,Malta,Widowed,..,..,..,..,..,..,..,..,...,..,0.483481,1.08372,1.05932,0.995316,..,1.02793,0.97527,1.01599,..
120,Romania,Single never married,..,..,..,..,..,..,..,..,...,..,85.6082,86.757,86.5,85.4724,85.3396,85.1424,85.7591,85.6063,85.2992
121,Romania,Divorced,..,..,..,..,..,..,..,..,...,..,12.9826,12.0815,12.3555,13.2662,13.4387,13.6591,13.1023,13.2838,13.5997
122,Romania,Widowed,..,..,..,..,..,..,..,..,...,..,1.40927,1.16142,1.14443,1.26138,1.2217,1.19853,1.13868,1.10997,1.10112

In [79]:
marriages = pd.read_excel("SF_3_1_Marriage_divorce_rates.xlsx", sheet_name= 'MarriageRates', header = 3, skipfooter = 21)

In [80]:
marriages = marriages.drop(columns = ["Note"])
marriages.head()

,Country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,..,..,..,..,..,..,..,..,..,...,5.5,5.5,5.5,5.4,5.4,5.4,5.1,5.2,4.8,4.9
1,Austria,8.3,8.5,8.4,8.1,8,7.8,7.6,7.6,7.6,...,4.3,4.2,4.3,4.5,4.3,4.6,4.3,4.4,5.1,5.1
2,Belgium,7.1,6.8,6.7,6.7,6.9,7,7.2,7.1,7.2,...,4.3,4.3,4,3.9,3.7,3.8,3.4,3.6,4,3.9
3,Canada,7.3,7,7,6.9,7.2,7.4,7.8,8.1,8.3,...,4.5,4.4,..,..,..,..,..,..,..,..
4,Chile,..,..,..,..,..,..,..,..,..,...,3.48185,3.3,3.3,3.53112,3.755,3.65358,3.485,3.64037,3.429,..